<!doctype html>
<html lang="ru">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>
    h1 {
        line-height: 200%;
    } 
    
    </style>
<body>
    <h1 style="text-indent:100px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/komplektuyuschie/videokarty-ASgBAgICAkTGB~pm7gmmZw " >
        Avito.ru</a>
    </h1>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/rtx_3090_3070_3060_6800_-_bolshoy_vybor_tut_2017554587 " >
        Видеокарты 5700 XT RTX 3060 Ti rx 580 8gb 5600 XT</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarty_rx_5700_xt_rx_580_8gb_5600_xt_2016039938 " >
        Видеокарты RX 5700 XT, RX 580 8GB, 5600 XT</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarty_dlya_mayinga_rx_5600_xt_rx_5700_xt_580_2017230508 " >
        Видеокарты для майнинга RX 5600 XT, RX 5700 XT, 580</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/rtx_2080_2072319346 " >
        Rtx 2080</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/rtx_3090_3070_6800_-_bolshoy_vybor_tut_2017554587 " >
        Rtx 3090, 3070, 6800 - большой выбор тут</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_gtx_1650_4gb_2075593377 " >
        Видеокарта gtx 1650 4gb</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/novye_1080_ti_box_i_drugie_1921522774 " >
        Новые 1080 Ti BOX и другие</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/msi_rtx_3070_ventus_oc_2052707005 " >
        MSI RTX 3070 ventus OC</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_asus_geforce_1050_ti_4gb_2061089145 " >
        Видеокарта asus GeForce 1050 TI 4Gb</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_palit_geforce_gtx_1070_super_jetstream_2074192886 " >
        Видеокарта Palit GeForce GTX 1070 super jetstream</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarty_asus_amd_radeon_rx580-4g-m_novye_1816637954 " >
        Видеокарты Asus AMD Radeon RX580-4G-M новые</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_gigabyte_gv-n610_1gi_rev_2.0_2076535419 " >
        Видеокарта gigabyte GV-N610 1GI rev: 2.0</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/gtx_1050_ti_2079758761 " >
        GTX 1050 TI</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/rtx_3080_gigabyte_aorus_extreme_waterforce_2045551698 " >
        Rtx 3080 gigabyte aorus extreme waterforce</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/rtx_3070_rtx_3060ti_2065405654 " >
        RTX 3070, RTX 3060ti</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_2066074099 " >
        Видеокарта</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_hd_radeon_4890_xfx_1800862545 " >
        Видеокарта HD Radeon 4890 XFX</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_powercolor_rx_570_4gb_2053360934 " >
        Видеокарта Powercolor RX 570 4GB</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_gtx_1060_g1_gaming_6_gb_2071049143 " >
        Видеокарта GTX 1060 G1 gaming 6 gb</a></h4>
    <hr>
    <h4 style="text-indent:50px"><a target="_blank" href= " https://www.avito.ru/moskva/tovary_dlya_kompyutera/videokarta_gigabyte_geforce_gtx_1050_ti_4gb_2068265324 " >
        Видеокарта gigabyte GeForce GTX 1050 Ti 4GB</a></h4>
    <hr>
</body>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>