<!doctype html>
<html lang="ru">
    <head> 
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <title>clone_avito</title>
        <link href= "C:/Projects/clone_avito/webapp/css/style.css" rel="stylesheet" type="text/css" >
    </head>
        <body>
            <a>Привет мир</a>
            <p>Red</p>
            <h1>
                <a id="avito" href=" https://www.avito.ru/moskva/tovary_dlya_kompyutera/komplektuyuschie/videokarty-ASgBAgICAkTGB~pm7gmmZw " >
                    Avito.ru
                </a>
            </h1>
                {% for product in products %}
            <h2>
                <a id="product_name" href="{{ product.url }}">
                    {{ product.name }}
                </a>
            </h2>
            <h2>
                <a id="product_text">
                    {{ product.text }}
                </a>
            </h2>
            <h3>
                <a id="product_price">
                    {{ product.price }} руб
                </a>
            </h3>
                {% endfor %}
        </table>
    </body>
</html>