#product_name {
    margin-left: 220px;
    margin-right: 550px;
    color: rgb(0, 0, 0);
    font-weight: 1;
    font-family: Arial;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 600;
    
}

.name {
    color:rgb(0, 0, 0);
    text-decoration: none;  
}

#product_text {
    margin-left: 240px;
    margin-right: 400px;
    color: rgb(0, 0, 0);
    font-weight: 1;
    text-decoration: none;
    font-weight: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 700px;
    line-height: 30px;
    text-align: justify;

}

#product_price {
    float: right;
    margin-left: 220px;
    color: rgb(0, 0, 0);
    font-weight: 1;
    text-decoration: none;
    font-family: verdana;
    font-size: 20px;
    margin-right: 220px;

}